* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #30353f;
}

canvas {
	background-color: #ffffff00;
}
