* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Common Pixel', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #30353f;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.canvas-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5px;
}

.button-container > * {
	margin: 5px;
}

.mouse-container {
	display: flex;
	width: 100%;
}

.mouse-container img {
	max-width: 50%;
}

#save-button {
	background-color: #b4c3ec;
	color: #30353f;
	position: flex;
	width: 110px;
	height: 30px;
	border: none;
	border-radius: 10px;
	letter-spacing: 0.05em;
	transition: 0.4s;
	cursor: pointer;
}

#save-button:hover {
	background-color: white;
	transition: 0.4s;
}

#clear-button {
	background-color: #b4c3ec;
	color: #30353f;
	position: flex;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 10px;
	letter-spacing: 0.05em;
	transition: 0.4s;
	cursor: pointer;
}

#clear-button:hover {
	background-color: white;
	transition: 0.4s;
}

#color-picker {
	background-color: #30353f;
	position: flex;
	width: 100px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.romsn {
	position: absolute;
	bottom: 20px;
	left: 25px;
	z-index: 100;
	display: block;
	color: #b4c3ec;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.pixl {
	position: absolute;
	top: 20px;
	left: 25px;
	z-index: 100;
	display: block;
	color: #b4c3ec;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.github {
	position: absolute;
	top: 20px;
	right: 130px;
	z-index: 100;
	display: block;
	color: #b4c3ec;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.github:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.twitter {
	position: absolute;
	top: 20px;
	right: 25px;
	z-index: 100;
	display: block;
	color: #b4c3ec;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.twitter:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.symbol {
	position: absolute;
	bottom: 20px;
	right: 25px;
	z-index: 100;
	display: block;
	color: #b4c3ec;
	text-decoration: none;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.symbol:hover {
	color: white;
	transition-duration: 0.4s;
	letter-spacing: 0.05em;
}

.line {
	color: white;
}

#size-value {
	color: #b4c3ec;
}
